* {
  box-sizing: border-box;
}

body {
  font-family: "Satoshi", sans-serif;
  font-family: "Clash Display", sans-serif;
  margin: 0;
}

.wrapper {
  max-width: 1440px;
  margin-right: auto;
  margin-left: auto;
}

button {
  cursor: pointer;
}

.header {
  margin: 0;
  padding: 20px 28px;
}

.top-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px rgba(0, 0, 0, 0.1) solid;
  padding-bottom: 20px;
}

.burger-checkbox,
.burger {
  display: none;
}

.header__search,
.header__cart,
.header__user {
  border: none;
  background-color: transparent;
  background-repeat: no-repeat;
  background-size: cover;
  width: 16px;
  height: 16px;
}

.header__search {
  background-image: url(../img/search.svg);
}

.header__cart {
  background-image: url(../img/shopping-cart.svg);
  margin-right: 16px;
}

.header__user {
  background-image: url(../img/user-avatar.svg);
}

.header__logo {
  font-family: "Clash Display", sans-serif;
  font-weight: 400;
  font-size: 24px;
  text-decoration: none;
  color: #2a254b;
}

.main-nav {
  padding-top: 20px;
}

.nav-list {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav-item:not(:last-child) {
  margin-right: 44px;
}

.nav-link {
  color: #726e8d;
  font-family: "Satoshi", sans-serif;
  font-weight: 400;
  font-size: 16px;
  text-decoration: none;
}

.nav-link:hover {
  color: #2a254b;
}

.hero__container {
  display: flex;
  justify-content: center;
  padding: 60px 80px;
}

.hero-text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: #ffffff;
  background-color: #2a254b;
  padding: 60px;
}

.hero-title {
  font-weight: 400;
  font-size: 32px;
  width: 513px;
  line-height: 44.8px;
  margin: 0;
  margin-bottom: 41px;
}

.hero-button {
  font-family: "Satoshi", sans-serif;
  font-size: 16px;
  font-weight: 400;
  padding: 16px 32px;
  background-color: rgba(249, 249, 249, 0.15);
  color: #ffffff;
  border: none;
}

.hero-discription {
  font-family: "Satoshi", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
  width: 602px;
  margin: 0;
}

.features {
  padding: 60px 86px;
}

.features__title {
  font-size: 24px;
  font-weight: 400;
  text-align: center;
  color: #2a254b;
  margin: 0;
  margin-bottom: 51px;
}

.features__list {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  list-style: none;
  margin: 0;
}

.feature:not(:last-child) {
  margin-right: 59px;
}

.feature__title {
  font-size: 20px;
  font-weight: 400;
  color: #2a254b;
  margin-top: 16px;
  margin-bottom: 8px;
}

.feature__description {
  font-family: "Satoshi", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  width: 266px;
  margin: 0;
}

.listings {
  padding: 80px 80px 48px;
}

.listings__title {
  color: #2a254b;
  font-size: 32px;
  font-weight: 400;
  margin: 0;
  margin-bottom: 33px;
}

.listings__list {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
  padding: 0;
  margin: 0;
  margin-bottom: 35px;
}

.listings__item {
  cursor: pointer;
}

.listings__item:not(:last-child) {
  margin-right: 20px;
}

.listings__name {
  color: #2a254b;
  font-size: 20px;
  font-weight: 400;
  margin: 0;
  margin-top: 24px;
}

.listings__price {
  font-family: "Satoshi", sans-serif;
  color: #2a254b;
  font-size: 18px;
  font-weight: 400;
  margin: 0;
  margin-top: 8px;
}

.listings__button {
  display: block;
  font-family: "Satoshi", sans-serif;
  font-size: 16px;
  font-weight: 400;
  padding: 16px 32px;
  color: #2a254b;
  background-color: #f9f9f9;
  border: none;
  cursor: pointer;
  margin-top: 32px;
  margin-right: auto;
  margin-left: auto;
}

.new-caramics__button {
  margin-bottom: 56px;
}

.popular-products {
  padding-top: 64px;
}

.listings__image-long {
  width: 630px;
  height: 375px;
}

.sing-ip {
  padding: 52px 74px;
  background-color: #f9f9f9;
}

.sing-ip__container {
  background-color: #ffffff;
  padding-top: 68px;
  padding-bottom: 68px;
  text-align: center;
}

.sing-ip__title {
  font-size: 36px;
  font-weight: 400;
  margin: 0;
  margin-bottom: 16px;
}

.sing-ip__discription {
  font-family: "Satoshi", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  margin: 0;
  margin-bottom: 72px;
}

.sing-ip__form {
  display: flex;
  justify-content: center;
  align-items: center;
}

.sing-ip__input {
  background-color: #f9f9f9;
  font-family: "Satoshi", sans-serif;
  font-size: 16px;
  font-weight: 400;
  padding: 17px 32px;
  width: 354px;
  border: none;
  outline: none;
}

.sing-ip__button {
  background-color: #2a254b;
  color: #ffffff;
  font-family: "Satoshi", sans-serif;
  font-size: 16px;
  font-weight: 400;
  padding: 16px 32px;
  border: none;
}

.features-bottom {
  display: flex;
  justify-content: space-between;
}

.features-bottom__left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 72px 84px 54px;
}

.features-bottom__title {
  font-size: 24px;
  font-weight: 400;
  line-height: 33.6px;
  color: #2a254b;
  width: 514px;
  margin: 0;
  margin-bottom: 24px;
}

.features-bottom__discription {
  font-family: "Satoshi", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 21.6px;
  width: 537px;
  margin: 0;
}

.features-bottom__button {
  font-family: "Satoshi", sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #2a254b;
  border: none;
  max-width: 150px;
  background-color: #f9f9f9;
  padding: 16px 32px;
}

.footer {
  background-color: #2a254b;
  color: #ffffff;
}

.footer__container {
  padding: 58px 82px 25px;
}

.footer__top {
  display: flex;
  align-items: flex-start;
  border-bottom: 1px solid #4e4d93;
  padding-bottom: 48px;
}

.menu__list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer__menu {
  margin-right: 109px;
}

.menu__title {
  font-size: 16px;
  font-weight: 400;
  margin: 0;
  margin-bottom: 12px;
}

.menu__item {
  font-family: "Satoshi", sans-serif;
  font-size: 14px;
  font-weight: 400;
}

.menu__item:not(:last-child) {
  margin-bottom: 12px;
}

.footer__link {
  text-decoration: none;
  color: #ffffff;
}

.footer__link:hover {
  color: #f9f9f9;
}

.footer-input__title {
  font-size: 16px;
  font-weight: 400;
  margin: 0;
  margin-bottom: 16px;
}

.footer__input {
  width: 509px;
  font-family: "Satoshi", sans-serif;
  font-family: Satoshi;
  font-size: 16px;
  font-weight: 400;
  background-color: rgba(255, 255, 255, 0.15);
  color: #ffffff;
  padding: 17px 32px;
  border: none;
  outline: none;
}

.footer__button {
  font-family: "Satoshi", sans-serif;
  font-size: 16px;
  font-weight: 400;
  padding: 17px 32px;
  background-color: #ffffff;
  color: #2a254b;
  border: none;
  margin-left: -3px;
}

.footer__bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 22px;
}

.copyright {
  font-family: "Satoshi", sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: #ffffff;
}

.social__list {
  display: flex;
  align-items: center;
  list-style: none;
}

.social__item:not(:last-child) {
  margin-right: 24px;
}

@media (max-width: 390px) {
  .wrapper {
    width: 390px;
  }

  .header {
    width: 100%;
    height: 69px;
    padding: 20px 24px;
  }

  .top-header {
    flex-direction: row-reverse;
    border: none;
  }

  .burger-checkbox {
    display: block;
    position: absolute;
    visibility: hidden;
    height: 16px;
    width: 16px;
  }

  .burger {
    cursor: pointer;
    display: block;
    position: relative;
    border: none;
    background: transparent;
    width: 16px;
    height: 1px;
    margin-left: 20px;
    outline: none;
  }

  .burger::before,
  .burger::after {
    content: "";
    left: 0;
    top: 0;
    position: absolute;
    display: block;
    width: 100%;
    height: 1px;
    background-color: #2a254b;
  }

  .burger::before {
    top: -6px;
    box-shadow: 0 12px 0 #2a254b;
    transition: box-shadow 0.3s 0.15s, top 0.3s 0.15s, transform 0.3s;
  }

  .burger::after {
    bottom: 0;
    transition: bottom 0.3s 0.15s, transform 0.3s;
  }

  .burger-checkbox:checked + .burger::before {
    top: 0px;
    transform: rotate(45deg);
    box-shadow: 0 6px 0 rgba(0, 0, 0, 0);
    transition: box-shadow 0.15s, top 0.3s, transform 0.3s 0.15s;
  }

  .burger-checkbox:checked + .burger::after {
    bottom: 11px;
    transform: rotate(-45deg);
    transition: bottom 0.3s, transform 0.3s 0.15s;
  }

  .header__logo {
    margin-right: auto;
  }

  .nav-list {
    position: absolute;
    top: 70px;
    right: 0;
    display: grid;
    gap: 2px;
    background-color: #FFF;
    transform: translateX(0);
    padding: 0 10px;
    width: 100px;
    height: 180px;
  }

  .burger-checkbox:checked .nav-list {
    display: grid;
  }

  .nav-list .nav-item {
    margin-right: 0;
  }

  .nav-link {
    color: #2a254b;
  }

  .header__cart {
    z-index: 1;
    position: absolute;
    right: 0;
    top: 70px;
  }

  .main-nav {
    padding: 0;
  }
}
